.display-name{
    font-size: large;
    color: white;
    margin-top: 10px;;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.btn1
{
    color:white;
    background-color:darkblue;
    border-radius: 30%;
}