<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
      <div class="logo">
        <a href="#">
          <img src="assets/images/logo.jpg" alt="E-commerce" class="img-responsive">
        </a>
      </div>
      <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
          <ul class="list-unstyled navbar-list">
            <li style="font-style:bold;">Product Category</li>
            <hr>
            <li>
              <a href="#">Books</a>
            </li>
            <li>
              <a href="#">Coffee Mugs</a>
            </li>
            <li>
              <a href="#">Mouse Pads</a>
            </li>
            <li>
              <a href="#">Luggage Tags</a>
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <!-- END MENU SIDEBAR-->
  
  
    <!-- PAGE CONTAINER-->
    <div class="page-container">
      
  
      <!-- MAIN CONTENT-->
      <app-product-list></app-product-list>
      </div>
      </div>
  
  
      <!-- END PAGE CONTAINER-->
